body {
    background-color: white;
}

div {
    display: block;
}

.wrapper {
    margin: auto;
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
}

form {
    display: block;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
  background: white;
  padding: 10px 0;
}
.footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color: white;
}